= turbo_frame_tag "tab_content" do
  .lists
    .my-communities
      %h2.title
        = t('Minhas comunidades')
      .cards-list
        - if @my_communities.blank?
          %p= 'Você ainda não faz parte de nenhuma comunidade'
        - else
          - @my_communities.each do |community|
            .card
              .card-image
                = image_tag resource_image(community)
              .card-content
                %h3= community.name
                %p= "Total de membros: #{community&.community_participants&.count.to_i}"
    .my-liked-ads
      %h2.title
        = t('Anúncios favoritados')
      .cards-list
        - if @my_liked_ads.blank?
          %p= 'Você ainda não favoritou nenhum anúncio'
        - else
          - @my_liked_ads.each do |ad|
            .card
              .card-image
                = image_tag resource_image(ad.post)
              .card-content
                %h3= ad.post.title
                %p= ad.post.description