= turbo_frame_tag "tab_content" do
  .lists
    .my-communities
      %h2.title
        = t('Minhas comunidades')
      .cards-list
        .card
          .card-image
            = image_tag 'community_default.png'
          .card-content
            %h3= 'Comunidade legal udesc cct'
            %p= 'Total de membros: 0'
        .card
          .card-image
            = image_tag 'community_default.png'
          .card-content
            %h3= 'Comunidade legal udesc cct'
            %p= 'Total de membros: 0'
        .card
          .card-image
            = image_tag 'community_default.png'
          .card-content
            %h3= 'Comunidade legal udesc cct'
            %p= 'Total de membros: 0'
    .my-liked-ads
      %h2.title
        = t('Anúncios favoritados')
      .cards-list
        .card
          .card-image
            = image_tag 'community_default.png'
          .card-content
            %h3= 'Comunidade legal udesc cct'
            %p= 'Total de membros: 0'
        .card
          .card-image
            = image_tag 'community_default.png'
          .card-content
            %h3= 'Comunidade legal udesc cct'
            %p= 'Total de membros: 0'
        .card
          .card-image
            = image_tag 'community_default.png'
          .card-content
            %h3= 'Comunidade legal udesc cct'
            %p= 'Total de membros: 0'
