.lists
  .my-communities
    .data-card
      = image_tag "pfp.jpg", class: "big-pfp"
      %h2
        = "Nome"
      %h2
        = "Sobrenome"
      %h2
        = "Email"
      %h2
        = "Instituição de ensino"
      %button
        = "salvar"
    ..data-card
      %h2
        = "Senha atual"
      %h2
        = "Nova senha"
      %h2
        = "Confirmação de senha"