%p{:style => "color: green"}= notice
%h1 Comments
#comments
  - @comments.each do |comment|
    = render comment
    %p
      = link_to "Show this comment", community_post_comment_path(@community, @post, comment)
= link_to "New comment", new_community_post_comment_path(@community, @post)
= link_to "Voltar para posts" , community_posts_path(@community, @post)
```
