= turbo_frame_tag "tab_content" do
  .lists
    .my-communities
      %h2.title
        = 'Comunidades'
      %div{:style => "margin-bottom: 2rem"}
        %h4.title
          = 'Adicionar comunidade'
        = form_with(model: Community.new, url: "communities", method: :post, local: true) do |form|
          .data-card
            %h2
              Nome da comunidade: 
            %h2
              = form.text_field :name, :class => "input"
            %h2
              = form.label :image, "Imagem:"
              = form.file_field :image
            %h2
              = form.submit "Criar comunidade", class: "button-primary"
      .cards-list
        - if @communities.blank?
          %p= 'Atualmente não existem comunidades no sistema.'
        - else
          - @communities.each do |community|
            .card
              .card-image
                = image_tag resource_image(community)
              .card-content
                %div
                  %h3= community.name
                  %p= "Total de membros: #{community&.community_participants&.count.to_i}"
              %div
                %p
                  Adicionar moderador
                = form_with(url: "administration/community/add_modder", method: :patch, local: true) do |form|
                  %div
                    = form.text_field :email, placeholder: "Email do usuário"
                    = form.hidden_field :community_id, :value => community.id
                    = form.submit "Adicionar", class: "button-primary"
              %div{:style => "display: flex; flex-direction: column;"}
                %p
                  Moderadores
                %ul
                  - community.users.each do |modder|
                    %li
                      = modder.email
