= form_with(model: [@community, post]) do |form|
  - if post.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.each do |error|
          %li= error.full_message
  %div
    .field
      = form.label "Título"
      %br/
      = form.text_area :title, class: "input", required: true
    .field
      = form.label "Descrição"
      %br/
      = form.text_area :description, class: "input", required: true
    .field
      = form.label "Imagens"
      %br/
      = form.file_field :images, multiple: true, style: "margin-top: 1rem"
    .actions
      = form.submit "Enviar", class: "button medium-button"