%div{:id => "#{dom_id post}"}
  %p
    %strong Title:
    = post.title
  %p
    %strong Description:
    = post.description
  %p
    %strong Image:
    = image_tag post.image
  %p
    %strong Community participant:
    = post.community_participant_id
