%p{:style => "color: green"}= notice
= render @post
%div
  = link_to "Edit this post", edit_community_post_path(@community, @post)
  
  = link_to "Back to posts", community_posts_path(@community)
  
  = button_to "Destroy this post", community_post_path(@community, @post), method: :delete

  = link_to "Ver comentários", community_post_comments_path(@community, @post)

  = button_to "Adicionar como favorito", community_post_likeds_path(@community, @post)
