.lists
  .my-communities
    .data-card
      .post-header
        .post-header-info
          .user-info
            = image_tag resource_image(current_user), class: "medium-pfp"
            %h2.name
              = current_user.full_name
        .post-buttons
          - if !current_user.liked?(@post)
            = button_to community_post_likeds_path(@community, @post), class: "like-btn", method: :post, remote: true do
              %span Favoritar
              = image_tag("star.svg", class: "star-icon")
          - else
            = button_to community_post_liked_path(@community, @post, @liked), class: "like-btn", method: :delete, remote: true do
              %span Desfavoritar
              = image_tag("star.svg", class: "star-icon")
          - if current_user == @post.community_participant.user
            = link_to image_tag("pencil.svg", class: "pencil-edit", style: "margin-left: 1rem"), edit_community_post_path(@community, @post)
      .post-title
        %h2
          = @post.title
      .post-content
        = @post.description
      .post-images
        - @post.images.each do |image|
          = image_tag image
    #comments
      - @post.comments.each do |comment|
        .data-card.comment
          .user-info
            = image_tag resource_image(comment.user), class: "medium-pfp"
            %h2.name
              = comment.user.full_name
          .comment-content
            = comment.description
          - if current_user.is_admin || CommunityModder.where(user_id: current_user.id, community_id: @community.id).first.present?
            %div
              = button_to "delete", {:controller => :comments, :action => 'destroy', :community_id => @community.id, :post_id => @post.id, id: comment.id }, :method => :delete
    .add-comment.field
      = form_for [@community, @post, @comment], id: "new_comment", method: :post, remote: true do |f|
        = f.text_area :description, class: "input", placeholder: "Adicione um comentário", id: "comment_description"
        = f.submit "Enviar", class: "button medium-button", id: "comment_submit"