.lists
  .my-communities
    %h2.title-posts
      = "#{@community.name} - Anúncios"
      = link_to image_tag("add_post.svg"), new_community_post_path(@community), class: "btn btn-primary"
    .cards-list
      - @posts.each do |post|
        .card{onclick: "window.location='#{community_post_path(@community, post)}'"}
          .card-image
            - if post.images.attached?
              = image_tag post.images.first
            - else
              = image_tag "post_default.png"
          .card-content
            %h3
              = post.title
            %p
              = post.community_participant.user.full_name