%p{:style => "color: green"}= notice
= render @liked
%div
  = link_to "Edit this liked", edit_liked_path(@liked)
  |
  \#{link_to "Back to likeds", likeds_path}
  
  \#{button_to "Destroy this liked", @liked, method: :delete}
